<%- include("../../partials/header.ejs") %>
<body>

<%- include("../../partials/homeNavbar.ejs") %>



<div class="container mt-5">
    <hr>


        <% articles.forEach((article)=>{ %>

        <div class="card mb-5">
            <div class="card-header">
                <%= article.title %>
            </div>
            <div class="card-body">
                <a href="/articles/<%= article.slug %>" class="btn btn-success">Ler artigo</a>

            </div>
            <div class="card-footer">
                <% if(article.Category){ %>
                    <%=  article.Category.title %>
                <% }%>
            </div>
        </div>
        <% }) %>


    <div class="row">
        <div class="col" >
            <% if(page >= 2){ %>
              <a href="/articles/pages/<%= page - 1 %>" style="float: left" ><< Página Anterior</a>
                <%}%>
        <% if(next){ %>
              <a href="/articles/pages/<%= page + 1%>" style="float: right" >Próxima Página >></a>
            <% }else{%>

            <% }%>
        </div>
        <hr>
    </div>

</div>



</body>
<%- include("../../partials/footer.ejs") %>
